__pycache__/
*.py[cod]
*$py.class
.git
.gitignore
.dockerignore
.editorconfig
.gitignore
.vscode
.venv
.log
*.sqlite3
Dockerfile*
docker-compose*
node_modules
source/logs
source/media
htmlcov/
.cache
coverage.xml
